.calcButton {
    font-family: monospace;
    font-size: 1.8em;
    font-weight: bolder;
    background-color: #191317;
    color: #F3F3F1;
    border-radius: 1em;
    border: none;
    margin: .25em;
    background: rgb(60, 57, 64);
    background: linear-gradient(0deg, rgba(46, 43, 51) 8%, rgba(21, 18, 25, 1) 54%, rgba(26, 24, 29, 1) 90%);
    box-shadow: -1px -5px 3px 1px #00000011;
}

.calcButton:hover {
    box-shadow: 0px 5px 3px 1px #99999999;
}

.calcButton:active {
    background: linear-gradient(180deg, rgba(46, 43, 51) 8%, rgba(21, 18, 25, 1) 54%, rgba(26, 24, 29, 1) 90%);
}
